/* ===============================
GENERAL 
================================================ */
* {
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
}


/* ===============================
NAVIGATION SECTION
================================================ */
.navbar-custom{
    background: #000;
}

.navbar-nav-custom{
    margin-left: 50%;
}

.nav-link-custom{
    color: #fff;
    transition: 1s;
}

.nav-link-custom:hover{
    color: orange;
}

.navbar-toggler{
    background: orange;
}

.navbar-brand{
    color: #fff;
}

.navbar-brand-custom{
    color: orange;
    font-style: italic;
}

/* ===============================
BANNER SECTION
================================================ */
#banner-img{
    background: linear-gradient(rgba(0 ,0, 0, .7), rgba(0 ,0, 0, .8)), url(../images/XBEKUJK.jpg) no-repeat 50% 50%;
    background-position: right center;
    height: 90vh;
}

.banner-content{
    text-align: center;
    padding-top: 18%;
    color: #fff;
}

.banner-content h1{
    font-family: 'Lemon', cursive;
    font-size: 36px;
}

.banner-title{
    font-style: italic;
    color: orange;
}

#arrow-down{
    padding-top: 7%;
    padding-left: 49%;
    animation: bounce 2s infinite;
    cursor: pointer;
}

@keyframes bounce{
    20%, 60%, 80%, 100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-55px);
    }
    70%{
        transform: translateY(-45px);
    }
    
}